@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/BG.jpg');
  color: white;
  font-family: 'metropolis';
  background-size: 100%;
  background-size:cover;
  overflow: hidden;
}

/* Header */

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 30px;
  display: flex;
  align-items: center;
}

#brand a {
  color: white;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

/* Header ends here */

.container{
    max-width: 800px;
    height: 600px;
    background: #fff;
    margin: 50px auto;
    box-shadow: 0 0 20px black;
    box-sizing: border-box;
    padding: 40px;
  }
  
  p{
    text-align: center;
    font-weight:800;
    letter-spacing: 1px;  
    font-size: 45px;
    margin-bottom: 20px;
    color: black;
  }
  
  .input,
  .msg .area{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    transform: all 0.5s ease;
  }
  
  .msg .area{
    height: 200px;
  }
  
  .btn{
    width: 250px;
    background: black;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .input:focus,
  .msg .area:focus{
    border: 2px solid black;
  }
  
  ::-webkit-input-placeholder{
    font-family: 'metropolis';
  }