@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Metropolis';
    background-size: 100%;
    background-size:cover;
}

.header-container {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/Mauritius.jpg');
    height: 400px;
    background-size: cover;
    background-position: 100%;

}

header a {
    text-decoration: none;
  }
  
  header {
    padding: 0 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  #brand {
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
  }
  
  #brand a {
    color: white;
  }
  
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: white;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
  }
  
  /* Header ends here */

h2 {
    color: white;
    font-family: 'metropolis';
    text-align: center;
    font-size: 130px;
    padding-top: 60px;
}


.Mauritius-info {
    margin: 50px;
    font-size: 31px;
    font-family: 'Metropolis', sans-serif;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.icons {
    padding: 30px;
    font-family: 'Metropolis';
    font-style: italic;
    text-align: center;
    text-decoration: none;

}

.map {
    padding: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
}



.travel-info {
    font-family: 'Metropolis';
    font-style: normal;
    font-size: 90;
    margin: 15px;
}

.green {
    color: gold;
}

.travel-stats {
    font-family: 'Metropolis';
    font-style: black;
    font-size: 48;
    margin: 15px;
}



.Travel, .Health, .Education, .Personal, .Entertainment{
    font-family: 'Metropolis';
    font-style: black;
    font-size: 48;
    margin: 15px;
}


/* Weather API */

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-family: 'Metropolis';
    font-size: 120%;
}

.card {
    background: #000000d0;
    color: white;
    padding: 30px;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 30px;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }
  
  button:hover {
    background: #7c7c7c6b;
  }
  
  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }
  
  .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }

  h2.city {
      font-family: "metropolis";
      font-size: 120%;
  }



  /* Destination */
  .Travel .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .Travel .box-container .box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border:2px solid #fff;
    border-radius: .5rem;
    flex:1 1 10px;
    height: 15rem;
    position: relative;
  }
  
  .Travel .box-container .box img{
    height: 100%;
    width:100%;
    object-fit: cover;
  }
  
  .Travel .box-container .box .content{
    position: absolute;
    height: 100%;
    width:100%;
    background:rgba(0,0,0,.7);
    padding:2rem;
    padding-top: 5rem;
  }
  
  .Travel .box-container .box:hover .content{
    top:0;
  }
  
  .Travel .box-container .box .content h3{
    font-size: 20px;
    color:gold;
  }
  
  .Travel .box-container .box .content p{
    font-size: 15px;
    color:#eee;
    padding:.5rem 0;
  }
  
  .btn{
    display: inline-block;
    margin-top: 0.5rem;
    background:gold;
    color:#fff;
    padding:.6px 6px;
    border:1px solid gold;
    cursor: pointer;
    font-size: 12px;
  }
  
  .btn:hover{
    background:rgba(255, 165, 0,.2);
    color:gold;
  }

  /* PERSONAL */


  /* HEALTH */

.covidInput {
    display: flex;
    justify-content: center;
    line-height: 2;
}

#countries {
    margin-left: 20px;
    width: 30%;
}

.mySeparator {
    height: 0.5px;
    background-color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 20px;
}

.APIContainer {
    margin: 50px auto 150px auto;
    padding: 10px 20px 10px 20px;
    border: 1px solid darkgray;
    border-radius: 5px;
    width: 40%;
    min-width: 500px;
    height: 20%;
}

.marginTopBottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

.textCenterTitle {
    text-align: center;
    font-size: 40px;
}

/* Education */

.education .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .education .box-container .box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border:2px solid #fff;
    border-radius: .5rem;
    flex:1 1 10px;
    height: 15rem;
    position: relative;
  }
  
  .education .box-container .box img{
    height: 100%;
    width:100%;
    object-fit: cover;
  }
  
  .education .box-container .box .content{
    position: absolute;
    height: 100%;
    width:100%;
    background:rgba(0,0,0,.7);
    padding:2rem;
    padding-top: 5rem;
  }
  
  .education .box-container .box:hover .content{
    top:0;
  }
  
  .education .box-container .box .content h3{
    font-size: 20px;
    color:gold;
  }
  
  .education .box-container .box .content p{
    font-size: 15px;
    color:#eee;
    padding:.5rem 0;
  } 


  /* PERSONAL */

  .personal .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .personal .box-container .box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border:2px solid #fff;
    border-radius: .5rem;
    flex:1 1 10px;
    height: 15rem;
    position: relative;
  }
  
  .personal .box-container .box img{
    height: 100%;
    width:100%;
    object-fit: cover;
  }
  
  .personal .box-container .box .content{
    position: absolute;
    height: 100%;
    width:100%;
    background:rgba(0,0,0,.7);
    padding:2rem;
    padding-top: 5rem;
  }
  
  .personal .box-container .box:hover .content{
    top:0;
  }
  
  .personal .box-container .box .content h3{
    font-size: 20px;
    color:gold;
  }
  
  .personal .box-container .box .content p{
    font-size: 15px;
    color:#eee;
    padding:.5rem 0;
  } 

  /* ENTERTAINMENT */

  .entertainment .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-bottom: 60px;
  }
  
  .entertainment .box-container .box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border:2px solid #fff;
    border-radius: .5rem;
    flex:1 1 10px;
    height: 15rem;
    position: relative;
  }
  
  .entertainment .box-container .box img{
    height: 100%;
    width:100%;
    object-fit: cover;
  }
  
  .entertainment .box-container .box .content{
    position: absolute;
    height: 100%;
    width:100%;
    background:rgba(0,0,0,.7);
    padding:2rem;
    padding-top: 5rem;
  }
  
  .entertainment .box-container .box:hover .content{
    top:0;
  }
  
  .entertainment .box-container .box .content h3{
    font-size: 20px;
    color:gold;
  }
  
  .entertainment .box-container .box .content p{
    font-size: 15px;
    color:#eee;
    padding:.5rem 0;
  } 


  /* FOOTER */

  footer{
    margin-top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
  
    padding-top: 40px;
    color: #fff;
  }
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
  }
  .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
  }
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  .socials li{
    margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
  
    border-radius: 50%;
  
  }
  .socials a i{
    font-size: 1.1rem;
    width: 20px;
  
  
    transition: color .4s ease;
  
  }
  .socials a:hover i{
    color: aqua;
  }
  
  .footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
  padding-bottom: 40px;
    text-align: center;
  }
  .footer-bottom p{
  float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  .footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
  }
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }
  .footer-menu{
  float: right;
  
  }
  .footer-menu ul{
  display: flex;
  }
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  .footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
  }
  .footer-menu ul li a:hover{
  color: #27bcda;
  }


  /* media queries */
  
  @media (max-width:500px) {
  .footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  }
  }





  
